:root
{
    --cPipGreen: rgb(20, 255, 23);
    --cPipRed: rgb(225, 93, 61);
    --cPipSpecial: cyan;
    --cClear: rgba(0, 0, 0, 0);
    --cImageShadow: rgba(0, 0, 0, 0.6);
    --fontSmall: 0.8vw;
    --fontMed: 1.0vw;
    --fontBig: 1.4vw;
}

body
{
    overflow: hidden;
    color: white;
    background-image: url("../assets/bg.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

input[type=text]
{
    color: var(--cPipGreen);
    background-color: var(--cClear);
    border: none;
    outline: none;
    border-bottom: solid var(--cPipGreen) 3px;
    padding-left: 4%;
    font-size: var(--fontSmall);
}

input[type=text]::placeholder
{
    color: green;
    opacity: 1;
}

option:disabled
{
    display: none;
}

p
{
    margin: 0;
    text-align: center;
}

select
{
    color: var(--cPipGreen);
    background-color: var(--cClear);
    border: none;
    outline: none;
    border-bottom: solid var(--cPipGreen) 3px;
    padding-left: calc(4% - 4px);
    font-size: var(--fontSmall);
    appearance: none;
    width: calc(29% + 2px);
}

select > option
{
    color: black;
}

ul
{
    list-style-type: none;
    padding: 0;
}

#btnGetHint
{
    margin-top: auto;
}

#btnTogglePip
{
    position: absolute;
    width: 128px;
    height: 128px;

    bottom: 10%;
    left: 1%;

    z-index: 3;

    background-color: var(--cClear);
    border: none;
}

#btnTogglePip:hover
{
    cursor: pointer;
}

#cnvGuess
{
    /* keep canvas horizontally centred, with at least 5% gap on each side,
    resizing as needed */
    position: absolute;
    width: calc(min(90vw, 159.3vh));
    top: 5%;
    left: calc((100vw - min(90vw, 159.3vh))/2);
    box-shadow: 0 0 7px 7px var(--cImageShadow);
    background-color: var(--cImageShadow);
    opacity: 0;
    transition: opacity 250ms, filter 300ms;
}

#cnvPipboy
{
    width: 100%;
}

#cnvTogglePip
{
    width: 100%;
}

#dvContact
{
    position: absolute;
    top: 5px;
    right: 5px;

    z-index: 5;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: smaller;
    text-align: right;
    text-shadow: 0 0 5px black;
}

#dvCustomLabels
{
    text-align: right;
}

#dvCustomSettings
{
    font-size: var(--fontMed);
    width: 100%;
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 0 4%;
    position: absolute;
    bottom: 10%;
}

#dvCustomSettings > div
{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

#dvGameButtons
{
    display: grid;
}

#dvGameInfo
{
    display: grid;
    grid-auto-flow: column;
    pointer-events: none !important;
}

#dvGameInfo > p
{
    display: none;
}

#dvInvModes
{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

#dvInvTop
{
    display: grid;
    grid-template-columns: 1fr 20fr 20fr;
    grid-gap: 1%;
}

#dvMap
{
    background-color: var(--cClear);
    width: 115%;
    height: 150%;
    left: -8%;
    top: -26%;
    z-index: -1;
    pointer-events: all;
}

#dvMapBlurTop
{
    top: -10%;
    left: -4%;
    width: 108%;
    height: 17%;
    z-index: -1;
}

#dvMapBlurBottom
{
    top: 92%;
    left: -6%;
    width: 111%;
    height: 17%;
    pointer-events: all;
}

#dvModeSelectionIcons
{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    text-align: right;
}

#dvPBNav
{
    position: absolute;
    top: 13.6%;
    left: 79.9%;
    width: 4.5%;
    height: 12.6%;

    z-index: 2;
    pointer-events: all;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

#dvPBScreen
{
    position: relative;
    left: 8%;
    top: 10%;
    width: 84%;
    height: 82%;
    
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    gap: 5%;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-size: var(--fontBig);
    color: var(--cPipGreen);
    
    -webkit-user-select: none;
    user-select: none;
}

#dvPBScreen > *
{
    pointer-events: all;
}

#dvPBScreenBG
{
    position: absolute;
    left: 16%;
    top: 11%;
    width: 52%;
    height: 44%;
    background-color: rgb(8, 17, 9);
    z-index: -2;
}

#dvPipboy
{
    display: none;
    position: absolute;
    left: 5%;
    width: calc(min(90vw, 164vh));

    transition: left 300ms;
    z-index: 2;

    pointer-events: none;
}

#dvReport:hover
{
    cursor: pointer;
}

#dvRadioContent
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1%;
}

#dvRadioLeft
{
    display: flex;
    flex-direction: column;
}

#dvRadioLeft > p
{
    text-align: left;
    font-size: var(--fontMed);
}

#dvScreenMap
{
    pointer-events: none;
}

#dvScreenStats
{
    overflow: auto;
    user-select: text;
}

#imHint
{
    width: 100%;
    border: solid 2px var(--cPipGreen);
}

#pCurrentScore
{
    display: none;
    width: 100%;
    text-align: center;
}

#pLoadingProgress
{
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0 0 5px black;
}

#roundResults
{
    -webkit-user-select: text;
    user-select: text;
    overflow-y: auto;
    margin: 0;
    height: 100%;
}

.btnNav
{
    -webkit-appearance: none;
    background-color: var(--cClear);
    border: none;
    border-bottom: 3px solid #f9e289;
    cursor: pointer;
}

.btnNav:hover
{
    box-shadow: 0 3px 0.75px -1px black;
}

.dvModeInfo
{
    display: none;
    font-size: var(--fontMed);
    position: relative;
}

.dvModeInfo > button
{
    position: absolute;
    bottom: 0;
    right: 0;
}

.dvModeInfo > p
{
    text-align: left;
}

.leaflet-control-container
{
    position: absolute;
    left: 5%;
    top: 20%;
}

.leaflet-overlay-pane
{
    z-index: 100;
}

.mapBlur
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    filter: blur(1px);
    z-index: -1;
}

.menuHovered
{
    background-color: var(--cPipGreen);
    color: var(--cClear);
}

.pipButton
{
    -webkit-appearance: none;
    color: var(--cPipGreen);
    background-color: var(--cClear);
    width: 100%;
    text-align: left;
    border: none;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: var(--fontBig);
    padding-left: 1%;
}

.pipButton:hover
{
    background-color: var(--cPipGreen);
    color: black;
}

.pipButton:disabled
{
    color: lightgray;
}

.pipButton:disabled:hover
{
    cursor: not-allowed;
    background-color: var(--cClear);
}

.inputStart
{
    position: absolute;
}

.inputShort
{
    width: 15%;
}

.inputMed
{
    width: 25%;
}

.inputLong
{
    width: 70%;
}

.sPipNav
{
    display: none;
}

.statHeading
{
    border-bottom: solid var(--cPipGreen) 1px;
    text-align: left;
    margin-top: 2.5%;
    margin-bottom: 1%;
    width: 95%;
}

.statSection
{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.statText
{
    text-align: left;
}

.statTitle
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3%;
}

.xpBarInner
{
    height: 100%;
    background-color: var(--cPipGreen);
}

.xpBarOuter
{
    width: 40%;
    height: 2%;
    margin-top: 2%;
    border: solid var(--cPipGreen) 2px;
    border-top: none;
}

.xpBarOuterStats
{
    width: 80%;
    height: 20%;
    margin-top: 2%;
    border: solid var(--cPipGreen) 2px;
    border-top: none;
}

.xpText
{
    margin-top: 1%;
    color: var(--cPipGreen);
    text-align: center;
}

@media (min-aspect-ratio: 1.77)
{
    :root
    {
        --fontSmall: 1.416vh;
        --fontMed: 1.77vh;
        --fontBig: 2.478vh;
    }
}