
:root
{
    --cPipGreen: rgb(20, 255, 23);
    --cClear: rgba(0, 0, 0, 0);
}

a
{
    color: var(--cPipGreen);
}

a:visited
{
    color: #f9e289;
}

body
{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
}

input[type=checkbox]
{
    width: fit-content;
    margin-left: 0;
}

h1
{
    margin: 0;
}

p
{
    margin: 0;
}

ul
{
    margin: 0;
    margin-bottom: 18px;
}

li > ul
{
    margin: 0;
}

select
{
    color: var(--cPipGreen);
    background-color: var(--cClear);
    border: none;
    outline: none;
    border-bottom: solid var(--cPipGreen) 3px;
    padding-left: 5%;
    font-size: small;
    appearance: none;
    width: 80%;
}

select > option
{
    color: black;
}

#btnClearData:hover
{
    background-color: rgb(225, 93, 61);
    color: black;
}

#dvAnalytics
{
    position: absolute;
    bottom: 5px;
    width: 30%;
    color: white;
    font-size: smaller;
    text-shadow: 0 0 5px black;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 7px;
}

#dvAnalytics > p
{
    padding: 5px;
}

#dvBackground
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

#dvMenu
{
    position: absolute;
    left: 10%;
    width: calc(max(30vmin, 400px));
    top: 10%;

    display: grid;
    gap: 1vh 0;
}

#dvMenuBorder
{
    left: 10%;
    width: calc(max(30vmin, 400px));
    top: 10%;
    bottom: 10%;
}

#dvInfo
{
    position: absolute;
    right: 10%;
    width: 35%;
    top: 10%;
    bottom: 10%;

    font-size: large;
    overflow: auto;
}

#dvInfoBorder
{
    right: 10%;
    width: 35%;
    top: 10%;
    bottom: 10%;
}

#dvOptions
{
    display: none;
    position: relative;
    padding-left: 1.5%;
    width: 100%;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto minmax(0, 1fr);
    gap: 0 5%;
}

.menuButton
{
    position: relative;
    -webkit-appearance: none;
    color: var(--cPipGreen);
    background-color: var(--cClear);
    width: 100%;
    text-align: left;
    border: none;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    padding-left: 1.5%;
}

.menuButton:hover
{
    background-color: var(--cPipGreen);
    color: black;
    box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.menuItem
{
    background-color: rgba(10, 88, 11, 0.6);
    padding: 1%;
    color: var(--cPipGreen);
}

.menuItemBorder
{
    position: absolute;
    border-top: 3px solid var(--cPipGreen);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
    padding: 1%;
}

.inputStart
{
    position: absolute;
}